@hh: 1.24rem;
@bh : 1.08rem;
.main{
    padding-top: @hh;
    padding-bottom : @bh;
    
}
.home{
  background: #f3f3f3;
}
.shopCar{
  background: #f1f4f6;
  padding-top: @hh;
  padding-bottom: @bh + 0.04rem;
}
.sort{
  background: #eeeeee;
  display: flex;
}
.GoodsList{
  background : #f1f4f6;
  padding-top: @hh + 1.08rem;
}
.goodsBg{
  background :#FFFFFF;
}
.swiper-pagination-bullet {
    background: #ababab !important;
    opacity : 0.8 !important;
  }

  .swiper-pagination-bullet-active {
    background: #f00 !important;
  }